{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/image_style.css' %}">
<style>
    #menu_item_2 {
        background: none;
        color: var(--color-accent);
        border: 2px solid;
        padding: 4px;
    }
</style>
<script>
    function open_folder(id, title, owner, about) {
        const file_container = document.querySelector('#file_container')
        file_container.style.display = 'none'

        const folder_title = document.querySelector('#folder_title')
        folder_title.innerText = title

        const folder_about = document.querySelector('#folder_about')
        folder_about.innerText = about

        const folder_files = document.querySelector('#folder_files')
        folder_files.innerHTML = ''
        get_files('folder_files', id)

        const folder_file_container = document.querySelector('#folder_file_container')
        folder_file_container.style.display = 'block'
    }

    function close_folder() {
        const folder_file_container = document.querySelector('#folder_file_container')
        folder_file_container.style.display = 'none'

        const file_container = document.querySelector('#file_container')
        file_container.style.display = 'block'
    }
</script>
<script> // Разместить папку на странице
    function insert_folder(id, title, owner, about) {
        const s = document.createElement('div')
        s.classList = 'folder'
        s.onclick = () => { open_folder(id, title, owner, about) }

        const d1 = document.createElement('span')
        d1.classList = 'folder_title'
        d1.innerText = title
        s.appendChild(d1)

        const d2 = document.createElement('span')
        d2.classList = 'folder_owner'
        d2.innerText = owner
        s.appendChild(d2)

        const place = document.querySelector('#folders')
        place.appendChild(s)
    }
</script>
<script> // Создать папку
    async function create_folder() {
        const type = 'image'
        const name = document.querySelector('#w_folder_name')
        const about = document.querySelector('#w_folder_about')

        const result = await exchange_json(
            '{% url "do_create_folder" %}',
            {'type': type, 'name': name.value, 'about': about.value},
            '{{ csrf_token }}',
        )
        console.log(result)

        if (result['status'] != 'ok') {
            alert(result['status'])
            return
        }

        insert_folder(result['id'], name.value, '{{ request.user }}', about.value)
    }
</script>
<script> // Загрузить следующую порцию папок
    let CURRENT_FOLDER_PAGE = 0
    let FOLDER_SIZE = 10
    async function get_folders() {
        const type = 'image'
        const page = CURRENT_FOLDER_PAGE
        const size = FOLDER_SIZE

        const result = await exchange_json(
            '{% url "do_get_folders" %}',
            {'type': type, 'page': page, 'size': size},
            '{{ csrf_token }}',
        )
        console.log(result)

        if (result['status'] != 'ok') {
            alert(result['status'])
            return
        }

        const place = document.querySelector('#folders')
        result['folders'].forEach(e => {
            insert_folder(e[0], e[2], e[1], e[3])
        })

        CURRENT_FOLDER_PAGE += 1
    }
</script>
<script> // Разместить изображение на странице
    function insert_file(where, id, title, owner, url) {
        const s = document.createElement('span')
        s.classList = 'image'

        const d1 = document.createElement('div')
        d1.classList = 'image_title'
        d1.innerText = title
        s.appendChild(d1)

        const d2 = document.createElement('div')
        d2.classList = 'image_owner'
        d2.innerText = owner
        s.appendChild(d2)

        const d3 = document.createElement('img')
        d3.classList = 'image_img'
        d3.src = url
        d3.alt = title
        s.appendChild(d3)

        const place = document.querySelector('#'+where)
        place.appendChild(s)
    }
</script>
<script> // Создать новое изображение
    function upload_image() {
        const file = document.querySelector('#file')
        const name = document.querySelector('#name')
        const about = document.querySelector('#about')

        const data = {
            'type': 'image',
            'name': name.value,
            'about': about.value,
        }

        upload_file(
            '{% url "do_create_file" %}',
            '{{ csrf_token }}',
            file.files[0],
            data,
        )
    }
</script>
<script> // Загрузить следующую порцию файлов
    async function get_files(where, folder) {
        const type = 'image'
        const page = 0
        const size = 10

        const result = await exchange_json(
            '{% url "do_get_files" %}',
            {'type': type, 'folder': folder, 'page': page, 'size': size},
            '{{ csrf_token }}',
        )
        console.log(result)

        if (result['status'] != 'ok') {
            alert(result['status'])
            return
        }

        const place = document.querySelector('#files')
        result['files'].forEach(e => {
            insert_file(where, e[0], e[3], e[2], e[1])
        })
    }
</script>
<title>Изображения</title>
{% endblock %}

{% block folder_title %}Альбомы{% endblock %}

{% block file_title %}Фото{% endblock %}

{% block popup_windows %}

<!-- Окно меню -->
<div class="window_bg" id="w_create_folder">
    <div class="window">
        <!-- Внутри окна -->
        <div>Создать альбом</div>
        <div>
            <div><label>Название</label></div>
            <div><input id="w_folder_name" type="text"></div>
        </div>
        <div>
            <div><label>Описание</label></div>
            <div><textarea id="w_folder_about"></textarea></div>
        </div>
        <div>
            <input type="button" value="Отмена" onclick="close_window()">
            <input type="button" value="Создать" onclick="create_folder()">
        </div>
    </div>
</div>

<!-- Окно меню -->
<div class="window_bg" id="w_create_file">
    <div class="window">
        <!-- Внутри окна -->
        <div>Загрузить фото</div>
        <div>
            <div><label>Название</label></div>
            <div><input type="text"></div>
        </div>
        <div>
            <div><label>Описание</label></div>
            <div><textarea></textarea></div>
        </div>
        <div>
            <div><label for="">Фото</label></div>
            <div><input type="file"></div>
        </div>
        <div>
            <input type="button" value="Отмена" onclick="close_window()">
            <input type="button" value="Создать">
        </div>
    </div>
</div>

{% endblock %}
