{% extends 'basic.html' %}
{% load static %}

{% block title %}
<script src="{% static 'js/upload_file.js' %}"></script>
<script>
    async function create_folder() {
        const url = '{% url "do_create_folder" %}'

        const name = document.querySelector('#name')
        const about = document.querySelector('#about')

        const data = {
            'type': 'podcast',
            'name': name.value,
            'about': about.value,
        }

        const result = await exchange_json(url, data)

        if ('error' in result) {
            alert(result['error'])
            return
        }

        if (result['result'] == 'ok') {
            const place = document.querySelector('#folders')
            place.innerHTML += '<li><details onclick="open_folder(' + result['id'] + ')"><summary>' + name.value + ',' + about.value + '</summary><ul id="element_' + result['id'] + '"></ul></details></li>'
        }

        console.log(result)
    }

    function upload_podcast() {
        const file = document.querySelector('#file')
        const creator = document.querySelector('#creator')
        const theme = document.querySelector('#theme')
        const about = document.querySelector('#about')

        const data = {
            'type': 'podcast',
            'creator': creator.value,
            'theme': theme.value,
            'about': about.value,
        }

        upload_file(
            '{% url "do_create_file" %}',
            '{{ csrf_token }}',
            file.files[0],
            data,
        )
    }

    async function get_folders() {
        const url = '{% url "do_get_folders" %}'

        const from = 0
        const upto = 10

        const data = {
            'type': 'podcast',
            'from': from,
            'upto': upto,
        }

        const result = await exchange_json(url, data)

        if ('error' in result) {
            alert(result['error'])
            return
        }

        console.log(result)
        return result
    }

    async function get_files(folder) {
        const url = '{% url "do_get_files" %}'

        const from = 0
        const upto = 10

        const data = {
            'type': 'podcast',
            'folder': folder,
            'from': from,
            'upto': upto,
        }

        const result = await exchange_json(url, data)

        if ('error' in result) {
            alert(result['error'])
            return
        }

        console.log(result)
        return result
    }

    let folder_list = []
    async function open_folder(folder) {
        if (folder_list.indexOf(folder) != -1) {
            return
        }

        folder_list += folder

        const element = document.querySelector('#element_' + folder)
        const files = await get_files(folder)

        if (files['result'] != 'ok') {
            alert(files['result'])
        }

        files['files'].forEach(e => {
            element.innerHTML += '<li>' + e + '</li>'
        });
    }
</script>
<title>Подкасты</title>
{% endblock %}

{% block body %}
<h1>Раздел подкастов</h1>

<div>
    <h3>Поиск подкастов</h3>
    поиск
</div>

<div>
    <h3>Мои плейлисты</h3>
    <!-- Создать папку -->
    <details>
        <summary>Создать плейлист</summary>
        <ul>
            <li>
                <label for="name">Название</label>
                <input type="text" id="name">
            </li>
            <li>
                <label for="about">Описание</label>
                <input type="text" id="about">
            </li>
            <li>
                <input type="button" value="Создать" onclick="create_folder()">
            </li>
        </ul>
    </details>
    <!-- Папки -->
    <ul id="folders"></ul>
    <div id="load_folders">
        Загружаю плейлисты...
        <script>
            async function c4_1() {
                const place = document.querySelector('#folders')
                const result = await get_folders()

                if (result['result'] != 'ok') {
                    alert(result['result'])
                }

                result['folders'].forEach(e => {
                    place.innerHTML += '<li><details onclick="open_folder(' + e[0] + ')"><summary>' + e + '</summary><ul id="element_' + e[0] + '"></ul></details></li>'
                });

                const block = document.querySelector('#load_folders')
                block.remove()
            }
 
            c4_1()
        </script>
    </div>
    <!-- Папки -->
</div>

<div>
    <h3>Мои подкасты</h3>
    <details>
        <summary>Загрузить подкаст</summary>
        <ul>
            <li>
                <label for="file">Подкаст</label>
                <input id="file" type="file">
            </li>
            <li>
                <label for="name">Название</label>
                <input id="name" type="text">
            </li>
            <li>
                <label for="creator">Исполнитель</label>
                <input id="creator" type="text">
            </li>
            <li>
                <label for="theme">Тема</label>
                <input id="theme" type="text">
            </li>
            <li>
                <label for="about">Описание</label>
                <textarea id="about"></textarea>
            </li>
            <li>
                <input type="button" value="Отправить" onclick="upload_video()">
            </li>
        </ul>
    </details>
    <!-- Файлы -->
    <ul id="files"></ul>
    <div id="load_files">
        Загружаю подкасты...
        <script>
            async function c4_2() {
                const place = document.querySelector('#files')
                const result = await get_files(null)

                if (result['result'] != 'ok') {
                    alert(result['result'])
                }

                result['files'].forEach(e => {
                    place.innerHTML += '<li>' + e + '</li>'
                });

                const block = document.querySelector('#load_files')
                block.remove()
            }

            c4_2()
        </script>
    </div>
    <!-- Файлы -->
</div>
{% endblock %}
